@using Microsoft.AspNetCore.Mvc.Rendering
@model RatingViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<form method="post">
    <div class="row">
        <div class="col-md-3">
            <select asp-for="FirstPlayer" asp-items="Model.Players" id="firstPlayer" class="form-control col-md-3"></select>
        </div>
        <div class="col-md-3">
            <select asp-for="FirstPlayer" asp-items="Model.Players" id="secondPlayer" class="form-control col-md-3"></select>
        </div>
        <div class="col-md-3">
            <select asp-for="Result" asp-items="Html.GetEnumSelectList<GameResult>()" class="form-control" id="result col-md-3"></select>
        </div>
        <input type="submit" value="Добавить" class="btn btn-success"/>
    </div>


    

</form>
