@model PlayersViewModel

@{
    ViewBag.Title = "Игроки";
    Layout = "_Layout";
}

<h2>Игроки</h2>
<div class="row ">
    <div class="col-md-3">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Игрок</th>
                <th>Slack</th>
            </tr>
            </thead>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.SlackNickname</td>
                </tr>
            }

        </table>
    </div>
</div>

<form method="post">
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="name" class="form-control col-md-3" placeholder="Имя" />
        </div>
        <div class="col-md-3">
            <input type="text" name="slackNickname" class="form-control col-md-3" placeholder="Ник в слаке" />
        </div>
        <input type="submit" value="Добавить" class="btn btn-success" />
    </div>
</form>
